
*{
font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
margin: 0;
padding: 0;
outline: none;
border: none;
color: white;
}
body{
background: #2F3145;
text-align: center;
}
button, img{
cursor: pointer;
transition: 0.4s;
}
header{
width: 100%;
display: flex;
justify-content: space-between;
box-shadow: 0 0 6px black;
}
header h3{
padding: 2.5%;
}
.about{
width: 80%;
background: url('main.jpg');
background-size: 95%;
margin: 0 auto;
margin-top: 5%;
border-radius: 6px;
animation: aboutM 12s infinite ease-in-out;
}
@keyframes aboutM{
0%{
box-shadow: 0 0 10px red;
}
25%{
box-shadow: 0 0 10px blue;
}
50%{
box-shadow: 0 0 10px red;
}
75%{
box-shadow: 0 0 10px dodgerblue;
}
100%{
box-shadow: 0 0 10px red;
}
}
.aboutText{
box-shadow: 0 0 5px black;
width: 92%;
padding: 4%;
margin: 0 auto;
margin-top: 5%;
background: #2F3145;
border-radius: 6px;
animation: aboutT 30s infinite ease-in-out;
}
@keyframes aboutT{
0%{
opacity: 1;
}
25%{
opacity: 1;
}
30%{
opacity: 0;
}
50%{
opacity: 1;
}
75%{
opacity: 0;
}
100%{
opacity: 1;
}
}
.aboutText h4, .aboutText h3{
padding: 5% 0%;
}
.shop{
box-shadow: inset 0 0 5px black;
margin: 0 auto;
margin-top: 5%;
width: 89%;
padding: 4%;
border-radius: 6px;
}
.shop u{
color: green;
font-weight: bold;
}
.item{
padding: 4% 16%;
margin: 0 auto;
margin-top: 3%;
width: 50%;
background: #2F3145;
border-radius: 6px;
box-shadow: 0 0 8px #111434;
}
.item img{
width: 100%;
opacity: 0.8;
border: 2px solid #111434;
border-radius: 6px;
}
.item p{
margin-top: 8%;
color: green;
font-weight: bold;
}
.shop button{
width: 100%;
height: 4vh;
color: whote;
margin-top: 3%;
font-weight: bold;
border-radius: 4px;
background: #111434;
}
form{
width: 89%;
box-shadow: inset 0 0 5px black;
padding: 4%;
margin: 0 auto;
border-radius: 6px;
display: flex;
margin-top: 3%;
flex-direction: column;
}
form h3{
color: green;
}
form div{
padding: 4%;
margin: 0 auto;
}
form input{
width: 100%;
height: 4vh;
padding: 4% 2%;
border-radius: 6px;
color: white;
font-weight: bold;
border-bottom: 4px solid #111434;
background: transparent;
}
form input::placeholder{
color: white;
}
form textarea{
margin-top: 2%;
width: 100%;
padding: 4% 2%;
color: white;
font-weight: bold;
border-radius: 6px;
border-bottom: 4px solid #111434;
background: transparent;
}
form textarea::placeholder{
color: white;
}
form button{
width: 104%;
height: 5vh;
color: white;
margin-top: 3%;
font-weight: bold;
border-bottom: 4px solid #111434;
border-radius: 6px;
box-shadow: 0 0 6px #111434;
background: transparent;
}
footer{
margin: 0 auto;
margin-top: 5%;
padding: 5% 2%;
}
footer em{
font-weight: bold;
cursor: pointer;
}
@media screen and (min-width: 768px){
.aboutText h3{
font-size: 1.3rem;
}
.aboutText h4{
font-size: 1.5rem;
}
img{
border: 3px solid #111434;
}
.shop button{
height: 3vh;
}
form button{
height: 3vh;
}
}